/* 
Fonts
*/

/* space-grotesk-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    src: local('Space Grotesk'), url('/fonts/space-grotesk-v15-latin-regular.woff2') format('woff2');
}

/* space-mono-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    src: local('Space Mono'), url('/fonts/space-mono-v12-latin-700.woff2') format('woff2');
}

h1,
h2,
h3 {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}

p,
a,
form {
    font-family: 'Space Grotesk', monospace;
    font-weight: 400;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
    margin: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
    height: 100%;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 
Custom properties (variables)
*/
:root {
    /* Color */
    --light: oklch(98.51% 0 0);
    --dark: oklch(25.2% 0 0);

    --color1: oklch(55.54% 0.117 337.8);
    /* Syntax yellow */
    --color2: oklch(85.36% 0.17452706879621713 87.52541933013372);

    --bg-grid-opacity: 0.04;
}

/* 
Scroll behavior
 */
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

@media (prefers-reduced-motion) {
    html {
        scroll-behavior: auto;
    }
}

/*
Custom focus
*/
*:focus {
    outline: 4px dotted var(--color2);
    outline-offset: 2px;
    border-radius: 0;
}

/*
Custom gradient scroll bar
*/
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: var(--light);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(var(--color1), var(--color2)), url('/assets/noise.svg');

    background-blend-mode: multiply;

    border: 3px solid var(--light);
}

::-webkit-scrollbar-thumb:hover {
    border: 3px solid var(--light);

    background: linear-gradient(var(--color1), var(--color2));
}

/* 
Dark mode
*/
@media (prefers-color-scheme: dark) {
    :root {
        /* Color */
        /* Swap light and dark */
        --light: oklch(25.2% 0 0);
        --dark: oklch(98.51% 0 0);

        --color1: oklch(44.03% 0.16 303.37);
        --color2: oklch(65.49% 0.261 356.94);

        --bg-grid-opacity: 0.01;
    }
}
