---
// Layout import
import BaseLayout from '../layouts/BaseLayout.astro'

const pageTitle = 'Thanks!'
---

<BaseLayout pageTitle={pageTitle}>
    <div class="container">
        <h1>Thanks!</h1>
    </div>
</BaseLayout>

<style>
    .container {
        display: grid;
        place-content: center;
    }
</style>
