---
// Styles import
import '../styles/global.css'
---

<div>
    <h2>Contact</h2>
</div>

<style>
    div {
        width: 100%;
        min-height: 50dvh;

        display: flex;
        align-items: center;
        justify-content: center;

        padding: 1rem 0;

        border: 1px red solid;
    }
</style>
