---
import ContactForm from './ContactForm.astro'
---

<section id="contact-section" class="contact-section">
    <h2 class="title">Contact</h2>
    <ContactForm />
</section>

<style>
    .contact-section {
        padding: 0 max(2rem, 50vw - 1200px / 2);
    }
    .title {
        font-size: 2.5rem;
        padding: 3rem 0;
    }
</style>
