---
---

<form name="contact" method="POST" netlify-honeypot="website-url" class="container" netlify>
    <label class="sr-only" for="website-url">Your website</label>
    <input class="sr-only" type="text" name="website-url" tabindex="-1" autocomplete="off" />

    <label for="name" class="sr-only">Name</label>
    <input class="reset-input base-input" type="text" name="name" placeholder="Name" />

    <label for="email" class="sr-only">Email</label>
    <input class="reset-input base-input" type="email" name="email" placeholder="Email" />

    <label for="message" class="sr-only">Message</label>
    <textarea class="reset-input base-input" name="message" placeholder="Leave a message" rows="6"
    ></textarea>

    <button type="submit" class="reset-button gradient-button">Send</button>
</form>

<style>
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        width: 100%;
        padding-bottom: 8rem;

        border: 1px red solid;
    }

    .sr-only {
        position: absolute;
        overflow: hidden;
        clip: rect(0 0 0 0);
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
    }

    .reset-input {
        border: none;
        background-image: none;
        background-color: transparent;
        box-shadow: none;
    }

    .base-input {
        width: clamp(200px, 100%, 500px);
        border: 2px black solid;
        padding: 8px;
    }

    .reset-button {
        background-color: transparent;
        border-width: 0;
        font-family: inherit;
        font-size: inherit;
        font-style: inherit;
        font-weight: inherit;
        line-height: inherit;
        padding: 0;
    }

    .gradient-button {
        display: grid;
        place-content: center;

        width: 200px;
        aspect-ratio: 3 / 1;

        color: white;
        cursor: pointer;

        background-image: linear-gradient(to left, #743ad5, #d53a9d), url('../styles/noise.svg');

        background-blend-mode: multiply;

        background-position: 100% 100%;
        background-repeat: no-repeat;
        background-size: 100% 100%;

        border: 10px solid;
        border-image-slice: 1;
        border-width: 2px;
        border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
    }
</style>
