---
// Component import
import CldImageRound from './CldImageRound.astro'
import RotatingGradient from './RotatingGradient.astro'
---

<header>
    <div class="container">
        <div class="container-image">
            <RotatingGradient
                borderRadius={'50%'}
                inset={'-0.1rem'}
                rotationDuration={'5s'}
                blur={'5rem'}
            >
                <CldImageRound
                    src={'Self_Portrait_01_exqkxi'}
                    width={450}
                    height={450}
                    alt={'profile pic smiling and making peace sign'}
                />
            </RotatingGradient>
        </div>
        <h1 class="title"><span>Hi! I'm Luis</span><span>A Web Developer</span></h1>
    </div>
</header>

<style>
    header {
        width: 100%;
        min-height: 100vh;

        display: flex;
        align-items: center;
        justify-content: center;

        padding-top: 2rem;
        padding-bottom: 4rem;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

        width: 100%;
    }

    .container-image {
        width: clamp(280px, 40vw, 340px);
        aspect-ratio: 1:1;
    }

    .title {
        font-size: clamp(2.5rem, 5vw, 4rem);
        text-align: center;
        line-height: 1.2;
    }

    .title span {
        display: block;
    }
</style>
