---
// Component import
import CldImageRound from './CldImageRound.astro'

// Styles import
import '../styles/global.css'
---

<header>
    <div class="container">
        <CldImageRound
            src={'Self_Portrait_01_exqkxi'}
            width={300}
            height={300}
            alt={'profile pic'}
        />
        <div class="text">
            <h1 class="title">Hi! I'm Luis<br />A Web Developer</h1>
        </div>
    </div>
</header>

<style>
    header {
        width: 100%;
        min-height: 100vh;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

        width: 100%;

        /* padding: 8rem 0; */

        color: var(--main-color);
    }

    .text {
        /* min-width: 80%; */

        .title {
            font-size: 2.5rem;
            text-align: center;
        }
    }
</style>
