---
---

<div class="nav-links">
    <a href="/">Home</a>
    <a onclick="scrollToAnchor('#projects-section')">Projects</a>
    <a onclick="scrollToAnchor('#contact-section')">Contact</a>
</div>

<script is:inline>
    function scrollToAnchor(selectedAnchor) {
        if (!document.querySelector(selectedAnchor)) {
            console.log('no selected anchor')
            window.location.href = `http://localhost:3000/${selectedAnchor}`
        } else {
            document.querySelector(selectedAnchor).scrollIntoView({
                behavior: 'smooth',
            })
        }
    }
</script>

<style>

    .nav-links {
        display: none;

        width: 100%;
        /* position: absolute;
        background-color: rebeccapurple; */

    }
    .nav-links a {
        text-decoration: none;
        text-transform: lowercase;
        cursor: pointer;
    }

    .expanded {
        display: unset;
    }

    @media screen and (min-width: 768px) {
    .nav-links {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .nav-links a {
        /* display: inline-block; */
        /* padding: 15px 20px; */
    }
</style>
