---
// pull in info
---

<div class="container">
    <a href=`/projects/${slug}` class="project-details">Project Details</a>
</div>

<style>
    .container {
        position: relative;
        /* border-radius: var(--borderRadius, 50%); */
    }

    
</style>
