---
// Component import
import NavPages from './NavPages.astro'

// Styles import
import '../styles/global.css'
---

<nav>
    <p>Logo</p>
    <NavPages />
    <p>Dark Mode Toggle</p>
</nav>

<style>
    nav {
        display: flex;
        justify-content: space-between;

        border: 1px blueviolet dashed;
    }
</style>
