---
import NavBar from '../components/NavBar.astro'
import Footer from '../components/Footer.astro'

import '../styles/global.css'

const { pageTitle } = Astro.props
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <link
            rel="preload"
            href="../styles/fonts/space-mono-v12-latin-700.woff2"
            as="font"
            type="font/woff2"
            crossorigin
        />

        <link
            rel="preload"
            href="../styles/fonts/space-grotesk-v15-latin-regular.woff2"
            as="font"
            type="font/woff2"
            crossorigin
        />

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
        <link rel="manifest" href="/site.webmanifest" />
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="theme-color" content="#ffffff" />

        <title>{pageTitle}</title>
    </head>
    <body>
        <NavBar />
        <slot />
        <Footer />
    </body>
</html>

<style>
    body {
        min-height: 100%;
        display: grid;
        grid-template-rows: auto 1fr auto;

        background-color: var(--light);
        color: var(--dark);
    }
</style>
