---
import NavBar from '../components/NavBar.astro'
import Footer from '../components/Footer.astro'

import '../styles/global.css'

const { pageTitle } = Astro.props
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="author" content="Luis Aguiñaga" />
        <meta
            name="description"
            content="I'm a web developer interested in delivering performant and accessible sites"
        />
        <meta name="keywords" content="HTML, CSS, JavaScript, React, Astro, portfolio" />

        <link
            rel="preload"
            href="/fonts/space-mono-v12-latin-700.woff2"
            as="font"
            type="font/woff2"
            crossorigin
        />

        <link
            rel="preload"
            href="/fonts/space-grotesk-v15-latin-regular.woff2"
            as="font"
            type="font/woff2"
            crossorigin
        />

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
        <link rel="manifest" href="/site.webmanifest" />
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="theme-color" content="#ffffff" />

        <!-- Google tag (gtag.js) -->
        <script defer src="https://www.googletagmanager.com/gtag/js?id=G-RSCWNMVXJJ"></script>
        <script>
            window.dataLayer = window.dataLayer || []
            function gtag() {
                dataLayer.push(arguments)
            }
            gtag('js', new Date())

            gtag('config', 'G-RSCWNMVXJJ')
        </script>

        <title>{pageTitle}</title>
    </head>
    <body>
        <div class="container">
            <div class="noise"></div>
            <NavBar />
            <slot />
            <Footer />
        </div>
    </body>
</html>

<style>
    body {
        min-height: 100%;
        display: grid;
        grid-template-rows: auto 1fr auto;

        background-color: var(--light);
        color: var(--dark);
    }

    .container {
        position: relative;
        isolation: isolate;
    }

    .noise {
        position: absolute;
        z-index: -1;
        inset: 0;

        opacity: var(--bg-grid-opacity);

        background-image: url(/assets/noise-heavy.webp);
    }
</style>
